body {
    font-size : 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar {
    background-color: #8CE1FC;
}

.quem-somos {
    background-color: #299B7F;
    color : #FFF;
}

.padding {
    padding-top: 50px;
    padding-bottom: 50px;
}

.margin-img-logo {
    margin-left: 50px;
}

.parceiros {
    background-color: #c4ec11;
    color : #FFF;
}
.servicos {
    background-color: #CB6022;
    color : white;
}

footer {
    font-size : 5px;
    background-color: #495057;
    color : #FFF;
}